body {
    background-color: #86a6df;
}

#error {
    margin-bottom: 6px;
}

#alert {
    margin-top: 20px;
    font-weight: bold;
    color: #4b823d
}

.banniere {
    background-image: url(/img/banniere.png);
    height: 300px;
    background-size: cover;
    background-position: center;
}
